@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Outfit', sans-serif;
  --font-serif: 'IBM Plex Mono', serif;
}

.page h1 {
  @apply text-2xl font-bold mb-8;
}

.page h2 {  
  @apply text-xl font-bold mb-3;
}

.page h3 {
  @apply text-lg font-bold mb-2;
}

.page p {
  @apply mb-4;
}

.page ul {
  @apply mb-4;
}

.page ol {
  @apply mb-4;
}

.page--projects img {
  max-height: 90vh;
  margin: 1rem 0;
}

/* layout transition */
.layout-enter-active,
.layout-leave-active {
  transition: all 0.6s ease;
}
.layout-enter-from,
.layout-leave-to {
  opacity: 0;
  filter: blur(0.2rem);
  transform: scale(1.02);
}
.layout-enter-from {
  transform: scale(0.98);
}

.layout-leave-to {
  transform: scale(1.02);
}

/* page transition */
.page-enter-active,
.page-leave-active {
  transition: all 0.6s ease;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(0.2rem);
  transform: scale(1.02);
}

.page-enter-from {
  transform: scale(0.98);
}

.page-leave-to {
  transform: scale(1.02);
}

[data-state="open"] > a {
  font-weight: bold;
  color: var(--ui-text-highlighted)
}

.bg-theme {
  background-color: var(--ui-bg);
}